.portfolio-h1 {
  font-weight: 300px;
  color: #ad5858;
  font-size: 50px;
  margin: 0px 0px 0px 0px;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
}


.portfolio-display .button {
  display: inline-block;
  padding: 0.5em 1.0em; 
  /* changed 0.7 -->0.5em */
  border-radius: 20rem;
  /* background: #ffffff; */
  font-family: var(--anonPro);
  list-style-type: none;
  font-size: 16px;
  cursor: pointer;
  border: .2rem solid #400a0a;
  background: rgb(221, 153, 97);
  margin: .1rem;
  margin-top: .9rem;


}

.portfolio-display .button:hover {
  background-color: rgb(73, 0, 52);
}

.portfolio-display .button:active {
  background-color: rgb(49, 0, 0);
  outline: none;
}

.portfolio-display .button-group {
  margin: 5px 0px 10px 0px;   /*button box margins, changed 10px from 5px*/
  text-align: center;
}

.portfolio-display .button-group:after {
  content: '';
  display: block;
  clear: both;
}

/* .portfolio-display .article {
  background: blue;
} */

.portfolio-display img {
  vertical-align: middle;
  border-radius: 1rem;
}

.portfolio-display .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CLICKABLE BORDER STYLE------------------------------------- */
.portfolio-display .clickable { 
  display: block;
  max-width: 100%;
  height: auto;

  border: 4px dotted rgb(46, 147, 178);
}

.portfolio-display .grid article {
  /* background-color: #FFFFFF; */
  display: block;
  float: left;
  margin: .8%; /*MARGIN between images, was 1 %*/
  width: 23%;  /* image size, but not margin size*/

  /* 23 */
}

@media (max-width: 1024px) {
  .portfolio-display .grid article {
    width: 31.3%;
  }
}

.portfolio-display {
  display: block;
  align-content: center;
  align-self: center;
  text-align: center;
  justify-content: center;

  width: 85%;
  /* Set the width to 80% of the webpage *******/
  margin: 0 auto;
  /* Center the container horizontally */


  justify-content: center;
  /* Center items vertically within the container */
  align-items: center;
  /* Center items horizontally within the container */

}

@media (max-width: 767px) {
  .portfolio-display .grid article {
    width: 48%;
  }
}

@media (max-width: 479px) {
  .portfolio-display .grid article {
    margin: 2% 0;
    width: 100%;
  }
}